name: Builder Flutter Workflow Réutilisable

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    inputs:
      platforms:
        required: true
        type: string
        description: 'Liste des plateformes à builder (ex: ''["linux", "windows"]'')'
      mode:
        required: true
        type: string
        description: "release ou debug"
      retention-days:
        required: false
        type: number
        default: 3 # Par défaut, les artefacts debug sont gardés 3 jours
        description: "Nombre de jours de conservation des artefacts"

jobs:
  matrix:
    strategy:
      matrix:
        platform: ${{ fromJson(inputs.platforms) }} # '["linux", "windows", "macos", "apk", "ios", "web"]'
        os: [ubuntu-latest, windows-latest, macos-latest]
        # Exclusions des plateformes pour chaque OS
        exclude:
          # Exclusions des windows:
          - platform: linux #    Table des exclusions pour les plateformes
            os: windows-latest #        O --> valid | X --> excluded
          - platform: macos #    |        |linux|windows|macos|ios|web|apk|
            os: windows-latest # |linux   |  O  |   X   |  X  | X | O | O |
          - platform: ios #      |windows |  X  |   O   |  X  | X | X | X |
            os: windows-latest # |macos   |  X  |   X   |  O  | O | X | X |
          - platform: web
            os: windows-latest
          - platform: apk
            os: windows-latest
          # Exclusions des macos:
          - platform: linux
            os: macos-latest
          - platform: windows
            os: macos-latest
          - platform: web
            os: macos-latest
          - platform: apk
            os: macos-latest
          # Exclusions des linux:
          - platform: windows
            os: ubuntu-latest
          - platform: macos
            os: ubuntu-latest
          - platform: ios
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }} (${{ inputs.mode }})
    steps:
      #### Partie 1 : Préparation ####
      - name: 1️⃣ - Cloner ton code source
        uses: actions/checkout@v4

      - name: 2️⃣ - Actions de formatage pour ${{ matrix.platform }} (${{ inputs.mode }})
        uses: Theobernardon/theo-flutter/.github/actions/pre-steps-spe-platform@main
        with:
          platform: ${{ matrix.platform }}
          mode: ${{ inputs.mode }}

      - name: 3️⃣ - Installer Flutter avec pubspec.yaml, et cache automatique
        uses: subosito/flutter-action@v2
        with:
          channel: stable # Utilise le canal stable pour la version de Flutter
          flutter-version-file: pubspec.yaml
          cache: true # Active le cache pub + flutter automatiquement

      - name: 4️⃣ - Installer les dépendances flutter
        run: flutter pub get

      - name: 5️⃣ - Création des icônes
        run: dart run flutter_launcher_icons

      - name: 6️⃣ - Build pour ${{ matrix.platform }} (${{ inputs.mode }})
        id: build
        uses: Theobernardon/theo-flutter/.github/actions/flutter-build@main
        with:
          platform: ${{ matrix.platform }}
          mode: ${{ inputs.mode }}

      #### Partie 2 : Archiver les artefacts ####
      - name: 7️⃣ - Archive ${{ matrix.platform }} build artifacts (debug only)
        if: ${{ success() && inputs.mode == 'debug' }}
        uses: actions/upload-artifact@v4
        with:
          name: flutter-build-${{ matrix.platform }}
          path: ${{ steps.build.outputs.parent-dir }} # Chemin du dossier parent du build
          retention-days: ${{ inputs.retention-days }}

      - name: 7️⃣ - Archive ${{ matrix.platform }} build artifacts (release only)
        if: ${{ success() && inputs.mode == 'release' }}
        uses: Theobernardon/theo-flutter/.github/actions/package-builds-release@main
        with:
          platform: ${{ matrix.platform }}
          path: ${{ steps.build.outputs.parent-dir }} # Chemin du dossier parent du build
