name: Update version pubspec

on:
  workflow_call:
    inputs:
      branch_name:
        required: true
        type: string
        description: "Nom de la branche à mettre à jour"

jobs:
  bump:
    if: ${{ contains( inputs.branch_name , 'release') || contains( inputs.branch_name , 'fix') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install Cider
        run: dart pub global activate cider

      - name: Bump version
        id: bump-version
        uses: Theobernardon/theo-flutter/.github/actions/bump-version@main
        with:
          branch_name: ${{ inputs.branch_name }}

      - name: Commit and push version bump
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add pubspec.yaml CHANGELOG.md
          git commit -m "chore(version): Bump to ${{ steps.bump-version.outputs.version }}"
          git push
