name: Release Flutter Workflow Réutilisable

on:
  workflow_call:
    inputs:
      platforms:
        required: true
        type: string
        description: 'Liste des plateformes à builder (ex: ''["linux", "windows"]'')'
      version:
        required: true
        type: string
    secrets:
      token:
        required: true
        description: "Token d'authentification pour GitHub Actions"

jobs:
  matrix:
    strategy:
      matrix:
        platform: ${{ fromJson(inputs.platforms) }} # '["linux", "windows", "macos", "apk", "ios", "web"]'
    runs-on: ubuntu-latest
    name: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      # Partie 1 : Builds downloads
      - name: Download ${{ matrix.platform }} Build
        uses: actions/download-artifact@v4
        with:
          name: flutter-build-${{ matrix.platform }}
          path: artifacts/flutter-build-${{ matrix.platform }}

      - name: Vérifier l’artefact téléchargé
        run: ls -lh artifacts/flutter-build-${{ matrix.platform }}/

      # Partie 2 : Release construction
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release v${{ inputs.version }}
          tag_name: v${{ inputs.version }}
          files: artifacts/flutter-build-${{ matrix.platform }}/**
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
